### Java ###
*.class
*.log
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar
hs_err_pid*

### Maven / Gradle ###
target/
.mvn/
.mvn/wrapper/maven-wrapper.jar
.gradle/
.idea/libraries
*.iml

### IDEs ###
.idea/
*.iws
out/
.metadata
bin/
.settings/
.project
.classpath
.loadpath

### Sonar ###
.sonar/
.scannerwork/
.sonarlint/

### OS ###
Thumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.stackdump
*.lnk
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

### Projeto específico ###
/evidence/
/scripts/
.config.properties
!.config.properties.example
